.gradient-text{
 background-image: linear-gradient(90deg,red,aqua ,black);
 background-clip: text;
 color: transparent;
 font-weight: bolder;
 font-size: x-large;
 font-family: Tahoma, Verdana, sans-serif;

 
}
.blog-name{
 background-image: linear-gradient(to left, #FF0000 0%, #000000 100%);
 background-clip: text;
 color: transparent;
 font-weight: bolder;
 font-size: x-large;
 font-family: Tahoma, Verdana, sans-serif;

 
}
@keyframes slideIn {
      from {
        transform: translateY(50px);
        opacity: 0;
      }
      to {
        transform: translateY(5);
        opacity: 1;
      }
    }

    .animated-text {
      animation: slideIn 1s ease-out forwards;
    }

    .indain-food{
 background-image: linear-gradient(90deg,hsl(22, 95%, 55%),rgb(254, 254, 254) ,rgb(4, 95, 24));
 background-clip: text;
 color: transparent;
 font-weight: bolder;
 
 font-family: Tahoma, Verdana, sans-serif;
 font-size: '200px';

 
}
    .river-custom{
 background-image: linear-gradient(90deg,lab(30.16% 69.26 -90.91),#2beaf4 ,white);
 background-clip: text;
 color: transparent;
 font-weight: bolder;
 
 font-family: Tahoma, Verdana, sans-serif;
 font-size: '200px';

 
}
.login-custom{
   background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}
.Dummy-custom{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
   
}
.Signup-custom{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(90deg, #42047E, #07F49E)
   
}
.dassbord-custom{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(90deg, #F9CDC3, #FACEFB)
   
}

